*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# other CDK items
cdk.context.json

# Parcel build directories
.cache
.build

# ignore custom build scripts...
*.bat
*.sh

# ignore .env
.env

!website-dist/**